.AvatarInput {
  position: relative;
  width: 182px;
  height: 182px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.AvatarInput-upload-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.AvatarInput-preview {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 6px;
}

.AvatarInput-preview.selected {
  opacity: 0.5;
}

.AvatarInput-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1;
  height: 1;
  opacity: 0;
}

/* .AvatarInput-clear-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 26px;
  height: 26px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
} */
